{
    "presets": ["@babel/env", "@babel/preset-react"],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}


// https://stackoverflow.com/questions/56952728/jest-tests-on-react-components-unexpected-token

