.__3rjnua.__378pd {
    max-width: 10em
}

._PlayerRSWP.__1v1a1mw {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

._ControlsRSWP.__1g1kf0v {
    z-index: 1;
}

._PlayerRSWP button {
    visibility: hidden;
}

.__1g1kf0v button.rswp__toggle {
    visibility: visible;
}